<% provide(:title, 'Sign up') %>

<div class="alignSignUp">
    <h1 class="signupage">Sign up</h1>
  <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :userid %>
            <br />
            <%= f.text_field :userid, :size=>"50"%>
            <br />
            <br />
            <%= f.label :password %>
            <br />
            <%= f.password_field :password, :size=>"50" %>
            <br />
            <br />
            <%= f.label :password_confirmation, "Confirmation" %>
            <br />
            <%= f.password_field :password_confirmation, :size=>"50" %>
            <br />
            <br />
            <%= f.label :status %>
            <br />
            <%= f.select :status, ['student', 'student-parent'] %>
            <br />
            <br />
            <%= f.label :dependents %>
            <br />
            <%= f.select :dependents, [0, 1, 2, 3, 4, 5]%>
            <br />
            <br />
            <%= f.submit "Create my account", class: "btn btn-primary" %>


        <% end %>
      </div>
    </div>
</div>