<div class="splash-page">

    <%= image_tag("logo_yellow.png", :alt => "yellow logo", height: '600', width: '599', id:'logo-yellow') %>
	<div class="splash-info">
        <h3>Contact Us!</h3>
	
	    <ul>
	        <li>Email: <a href="mailto:<%= @contact.email%>">Send Us An Email!</a></li>
	        <li>Facebook: <a href="<%=@contact.facebook%>">Facebook Link</a></li>
	    </ul>
        <h3>Location: <%= @contact.location %></h3>
        <br>
        <h3>Hours for Spring 2015</h3>
	    <ul>
	        <% @contact.hours_format.each do |day| %>
            <li><%=day%></li>
         <%end %>
	    </ul>
        <% if @is_admin %>
	        <%= button_to 'Edit Contact Info', welcome_edit_path %>
        <% end %>
    </div>

</div>




