

<div id='calendar'></div>
<%= javascript_tag do %>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month'

        });
        <% @events.each do |eve| %>
          var myEvent = {
            title:"<%= eve.title %>",
            allDay: true,
            start: new Date(<%= eve.getStart %>),
            end: new Date(<%= eve.getEnd %>)
          };
          $('#calendar').fullCalendar('renderEvent', myEvent)
        <% end %>


    });
<% end %>


<%= form_for @event, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <fieldset>
    <legend>Add New Event</legend>
    <p><%= label_tag(:title, "Title: ", class: "field") %>
    <%= f.text_field :title %></p>

    <p><%= label_tag(:description, "Description: ", class: "field") %>
    <%= f.text_field :description %></p>

    <p><%= label_tag(:start_date, "Start: ", class: "field") %>
    <%= f.datetime_select :start_date, :default => { :hour => 23, :minute => 59 }, :minute_step => 30 %></p>

    <p><%= label_tag(:end_date, "End: ", class: "field") %>
    <%= f.datetime_select :end_date, :default => { :hour => 23, :minute => 59 }, :minute_step => 30 %></p>
    <%= f.submit "Create" %>
  </fieldset>
<% end %>