

<div id='calendar'></div>
<%= javascript_tag do %>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month'

        });
        <% @events.each do |eve| %>
          var myEvent = {
            title:"<%= eve.title %>",
            allDay: true,
            start: new Date(<%= eve.getStart %>),
            end: new Date(<%= eve.getEnd %>)
          };
          $('#calendar').fullCalendar('renderEvent', myEvent)
        <% end %>


    });
<% end %>


<%= form_for @event, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
  <fieldset>
    <legend>Event Form</legend>
    <p><%= label_tag(:title, "Title: ", class: "field") %>
    <%= f.text_field :title %></p>

    <p><%= label_tag(:description, "Description: ", class: "field") %>
    <%= f.text_field :description %></p>

    <p><%= label_tag(:start_date, "Start: ", class: "field") %>
    <%= f.datetime_select :start_date, :default => { :hour => 23, :minute => 59 }, :minute_step => 30 %></p>

    <p><%= label_tag(:end_date, "End: ", class: "field") %>
    <%= f.datetime_select :end_date, :default => { :hour => 23, :minute => 59 }, :minute_step => 30 %></p>
    <%= hidden_field_tag(:id, @event.id) %>
    <%= f.submit "Submit" %>
  </fieldset>
<% end %>

<div id="events_table">
  <table id="events_container">
    <thead>
      <tr class='noborder'>
        <th>Title</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @events.each do |eve| %>
      <tr>
        <td><%= eve.title %></td>
        <td><%= eve.description %></td>
        <td><%= eve.start_date %></td>
        <td><%= eve.end_date %></td>
        <td>
          <%= form_tag controller: "events", action: "index", method: "get" do %>
            <%= hidden_field_tag(:id, eve.id) %>
            <%= submit_tag "Edit", id: "edit_#{eve.id}"%>
          <% end %>
        </td>
        <td>
          <%= form_tag controller: "events", action: "destory", method: "post" do %>
            <%= hidden_field_tag(:id, eve.id) %>
            <%= submit_tag "Delete", id: "delete_#{eve.id}" %>
          <% end %>
        </td>
      </tr>
    <% end %>


  </table>
</div>
