<div id="cover">
</div>
<% if @is_admin %>
    <div class = "editInventory">
      <%= form_for @inventory_item, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
        <fieldset>
          <legend>Edit Inventory<span class=" cancel glyphicon glyphicon-remove"></span></legend>
          <p><%= label_tag(:name, "Food Name: ", class: "field") %>
          <%= f.text_field :name %></p>

          <p><%= label_tag(:stock, "Amount in Stock: ", class: "field") %>
          <%= f.text_field :stock %></p>

          <p><%= label_tag(:max_per_order, "Maximum Quantity for One Order: ", class: "field") %>
          <%= f.text_field :max_per_order %></p>

          <%= hidden_field_tag(:id, @inventory_item.id) %>
          <%= f.submit "Add", class: 'btn btn-default add-food' %>
        </fieldset>
      <% end %>
      
        <div id="inventory_table">
          <table id="inventory_container">
            <thead>
              <tr class='noborder'>
                <th>Food Name</th>
                <th>Amount in Stock</th>
                <th>Maximum Quantity for One Order</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.stock %></td>
                <td><%= item.max_per_order %></td>
                <td>
                  <%= form_tag controller: "inventory", action: "index", method: "get" do %>
                    <%= hidden_field_tag(:id, item.id) %>
                    <%= submit_tag "Edit", id: "edit_#{item.name}", class: "edit_#{item.name} btn btn-default edit-food"%>
                  <% end %>
                </td>
                <td>
                  <%= form_tag controller: "inventory", action: "destroy", method: "post" do %>
                    <%= hidden_field_tag(:id, item.id) %>
                    <%= submit_tag "Delete", id: "delete_#{item.name}", class: "delete_#{item.name} btn btn-default delete-food" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  <% end %>
<div class="trans-logo-background inventory-page">
  <div class="row">
    
    <div class="about-images col-xs-6">
      <%= image_tag("food3.jpg", class:'image') %>
      <%= image_tag("food1.jpg", class:'image') %>
    </div>
    
    <div class="inventory-info col-xs-6" data-step="1" data-intro="This is the inventory form. Using this form, you can request food from our pantry.">
      <h2 class="inventory-title"> Inventory 
        <% if @is_admin %>
        <span class="glyphicon glyphicon-edit edit"></span>
        <%end%>
        <% if @is_admin %>
        <span class="glyphicon glyphicon-question-sign help-admin "></span>
        <% else %>
        <span class="glyphicon glyphicon-question-sign help"></span>
        <%end%>
      </h2>
      <%= form_tag({controller: "inventory", action: "order"}, method: "post", class: "nifty_form inventory_form") do %>
        <div class="inventory-items">
        <% @items.each do |i| %>
          <div class="inventory-item">
            <%= fields_for "items[#{i.id}]" do |ff| %>
              
              <%= ff.check_box(:checked, class:'inventory-check', id:i.name) %>
              <%= ff.label(:checked, i.name, class:'inventory-label') %>
              <%= ff.hidden_field(:name, :value => i.name, class:'inventory-hidden-field') %>
              <% if i.max_per_order != 1 %>
                <%= ff.select :value, options_for_select((1..i.max_per_order).step(1).to_a.map{|s| ["#{s}", s]})%>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
      <%= submit_tag("Submit Request", class:'inventory-submit btn btn-default') %>
    <% end %>
    </div>
  </div>

</div>

<script>
$( document ).ready(function() {
  $('.help').on( 'click', function(){
    
    introJs().start();
    $(".inventory-items").animate({
      scrollTop: 0
    }, 600);
    
  } );

  $('.help-admin').on( 'click', function(){
    
    introJs().start();
    $(".inventory-items").animate({
      scrollTop: 0
    }, 600);
    
  } );

  $('.edit').on( 'click', function(){
    
    $('#cover').show();
    $('.editInventory').show();
    
  } );

  $('.cancel').on( 'click', function(){
    
    $('#cover').hide();
    $('.editInventory').hide();
    
  } );
  introJs().setOption("scrollToElement", true);
  
  var item = $('.inventory-item')[0];
  var itemCheck = $('.inventory-check')[0]
  var maxItem = $('.inventory-item')[3];
  var maxItemCheck = $('.inventory-check')[3];

  $(item).attr('data-step', 2);
  $(item).attr('data-intro', 'This is one of the many availiable food products we have at our pantry.')
  
  $(itemCheck).attr('data-step', 3);
  $(itemCheck).attr('data-intro', 'Check the checkbox to request this item.')

  $(maxItem).attr('data-step', 4);
  $(maxItem).attr('data-intro', 'Here is another availiable food product at our pantry.')
  
  $('#items_4_value').attr('data-step', 5);
  $('#items_4_value').attr('data-intro', 'Select how much of the product you want.')

  $(maxItemCheck).attr('data-step', 6);
  $(maxItemCheck).attr('data-intro', 'Check the checkbox to request this item.')

  $('.inventory-submit').attr('data-step', 7);
  $('.inventory-submit').attr('data-intro', 'Click to submit your request. You will be redirected to a survey.')





});
</script>
